@model BugHelper.Models.SoruCevapModel
@{
    ViewBag.Title = "beklemeListesi";
}
<h2>Askıda Bekletilen Sorular</h2>
<div id="sorularOnaylandi" style="border:1px solid green;">
    @using (Ajax.BeginForm("BeklemeListesi", "Sorular", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "sorularOnaylandi" }, new { @style = "border: 1px solid red;" }))
    {
        for (int i = 0; i < Model.SorularModelListe.Count(); i++)
        {
            <div>
                @Html.CheckBoxFor(m => m.SorularModelListe[i].Onay)
                @Html.DisplayFor(m => m.SorularModelListe[i].Id)
                @Html.DisplayFor(m => m.SorularModelListe[i].SoruBaslik)
                @Html.DisplayFor(m => m.SorularModelListe[i].SoruIcerik)
                @Html.DisplayFor(m => m.SorularModelListe[i].KodlamaDili)
                @Html.DisplayFor(m => m.SorularModelListe[i].SorulmaTarihi)
                @Html.HiddenFor(m => m.SorularModelListe[i].Id)
            </div>
        }
        <input type="submit" value="Soruları Onayla"/>
    }
    <div id="sorularOnaylandi"></div>
</div>
<div id="cevaplarOnaylandi" style="border:1px solid green;">
    @using (Ajax.BeginForm("BeklemeListesi", "Sorular", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "cevaplarOnaylandi" }, new { @style = "border: 1px solid red;" }))
    {
        for (int i = 0; i < Model.CevaplarModelListe.Count(); i++)
        {
            <div>
                @Html.CheckBoxFor(m => m.CevaplarModelListe[i].Onay)
                @Html.DisplayFor(m => m.CevaplarModelListe[i].Id)
                @Html.DisplayFor(m => m.CevaplarModelListe[i].Cevap)
                @Html.DisplayFor(m => m.CevaplarModelListe[i].CevapSahibi)
                @Html.DisplayFor(m => m.CevaplarModelListe[i].CevapTarihi)
                @Html.HiddenFor(m => m.CevaplarModelListe[i].Id)
            </div>
        }
        <input type="submit" value="Cevapları Onayla" />
    }
    <div id="cevaplarOnaylandi"></div>
</div>


