@{
    ViewBag.Title = "Home Page";
}
<hr />

<div class="container">
    @using (Ajax.BeginForm("SorularFiltre", "Home", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "sorular" }, new { @style = "border: 1px solid red;" }))
    {
        <input type="submit" value="Cevapsız Sorular" name="etiketFiltre" />
        <input type="submit" value="En çok beğenilen" name="etiketFiltre" />
    }
    @Html.ActionLink("Soru Sor", "SoruSor", "Sorular")
    @using (Ajax.BeginForm("SorularFiltre", "Home", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "sorular" }, new { @style = "border: 1px solid red;" }))
    {
        <input type="submit" value="Java" name="etiketFiltre" />
        <input type="submit" value="C++" name="etiketFiltre" />
        <input type="submit" value="C#" name="etiketFiltre" />
    }
    <div id="sorular"> @*satır 13'te UpdateTargetId = "sorular" olarak belirttik.Bunun amacı 13. satırdaki form işleminin sonucunda döndürülen view'i, id'si "sorular" olan etiketin içine basmasıdır.Ajax.BeginForm'un özellidir.Formun kullandığı metodun döndürdüğü view, soruları gösterdiğimiz bu divin içine girecek ve soruları istenilen şekilde filtrelemiş olacağız*@
        @using BugHelper.Scripts.SoruUrl @*FriendlyURLyi(urlde gösterdiğimiz başlık,kullanıcı adı gibi stringleri düzenlemek için kullandığımız sınıf) kullanmak için*@

        @foreach (var item in Model) //Soruları anasayfada göstermek için kullandığımız döngü.Herhangi bir filtreleme işlemi istenmemişse bu döngüye gelen sorular sadece tarihe göre azalan şeklinde sıralanır(bkz.HomeController satır 16
        {
            <div class="soru-kutu" style="border: 1px solid red;">
                <div class="kullanici" style="float:left;">
                    @if (item.SoruSahibi != "Misafir")
                    {
                        <a href="@Url.Action("ProfilGoruntule", "Kullanici", new { takmaAd = @FriendlyURL.FriendlyURLTitle(item.SoruSahibi), KullaniciAdi = item.SoruSahibi })">
                            <img src="" alt="" style="float:left" />
                            @item.SoruSahibi
                        </a>
                    }
                    else
                    {
                        @item.SoruSahibi
                    }
                </div>
                <div class="etiketler">
                    @item.KodlamaDili
                </div>
                <a href="@Url.Action("Soru", "Sorular", new { baslik = @FriendlyURL.FriendlyURLTitle(item.SoruBaslik), SoruId = item.Id })">
                    <div class="baslik">
                        @item.SoruBaslik
                    </div>
                </a>
                <div class="soru-icerik" style="border:1px solid yellow;">
                    @item.SoruIcerik
                </div>
            </div>
        }

    </div>
</div>

