@model BugHelper.Models.Profil
@{
    ViewBag.Title = "ProfiliGuncelle";
}

<h2>ProfiliGuncelle</h2>

@using (Html.BeginForm("ProfiliGuncelleAction", "Kullanici", FormMethod.Post))
{
    <div class="ad">
        Ad
        @Html.TextBoxFor(i => i.Ad)
    </div>
    <div class="soyad">
        Soyad
        @Html.TextBoxFor(i => i.Soyad)
    </div>
    <div class="is-tanimi">
        İş Tanımı
        @Html.TextAreaFor(i => i.IsTanimi)
    </div>
    <div class="ulke">
        Ülke
        @Html.TextBoxFor(i => i.Ulke)
    </div>
    <div class="hakkinda">
        Hakkında
        @Html.TextAreaFor(i => i.Hakkinda)
    </div>
    <div class="facebook">
        Facebook
        @Html.TextBoxFor(i => i.Facebook)
    </div>
    <div class="twitter">
        Twitter
        @Html.TextBoxFor(i => i.Twitter)
    </div>
    <div class="github">
        GitHub
        @Html.TextBoxFor(i => i.GitHub)
    </div>
    <div class="linkedin">
        LinkedIn
        @Html.TextBoxFor(i => i.LinkedIn)
    </div>
    <input type="submit" value="Güncelle" />
}
