@model BugHelper.Models.KullaniciKontrolModel
@{
    ViewBag.Title = "KullaniciKontrol";
}

<h2>Kullanıcı Kontrolü</h2>

<div class="kullanici-sil" style="border:1px solid green;">
    @using (Ajax.BeginForm("KullaniciKontrolActionAsync", "Account", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "kullanicilar-silindi" }, new { @style = "border: 1px solid red;" }))
    {
        <label>Kullanıcıları sil</label>
        <div id="kullanicilar-silindi"></div>
        
        for (int i = 0; i < Model.Kullanicilar.Count(); i++) //form içinde bütün kullanıcıları bastırıyor
        {
            @Html.CheckBoxFor(m => m.Kullanicilar[i].Kontrol)
            @Html.DisplayFor(m => m.Kullanicilar[i].Id)
            <label>Username</label>
            @Html.DisplayFor(m => m.Kullanicilar[i].UserName)
            @Html.DisplayFor(m => m.Kullanicilar[i].Ad)
            @Html.DisplayFor(m => m.Kullanicilar[i].Soyad)
            @Html.DisplayFor(m => m.Kullanicilar[i].KatilmaTarihi)
            @Html.DisplayFor(m => m.Kullanicilar[i].Ulke)
            @Html.HiddenFor(m => m.Kullanicilar[i].Id)

        }
        <input type="hidden" value="sil" name="durum" />
        <input type="submit" value="Seçilen kullanıcıları sil" onclick="tikla()" />
    }
</div>
<div class="kullanici-engelle" style="border:1px solid green;">
    @using (Ajax.BeginForm("KullaniciKontrolActionAsync", "Account", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "kullanicilar-engellendi" }, new { @style = "border: 1px solid red;" }))
    {
        <label>Kullanıcıları engelle</label>
        <div id="kullanicilar-engellendi"></div>
        for (int i = 0; i < Model.Engelle.Count(); i++) //form içinde engellenmemiş olan kullanıcıları bastırıyor
        {
                @Html.CheckBoxFor(m => m.Engelle[i].Kontrol)
                @Html.DisplayFor(m => m.Engelle[i].Id)
                <label>Username</label>
                @Html.DisplayFor(m => m.Engelle[i].UserName)
                @Html.DisplayFor(m => m.Engelle[i].Ad)
                @Html.DisplayFor(m => m.Engelle[i].Soyad)
                @Html.DisplayFor(m => m.Engelle[i].KatilmaTarihi)
                @Html.DisplayFor(m => m.Engelle[i].Ulke)
                @Html.HiddenFor(m => m.Engelle[i].Id)
        }
        <input type="hidden" value="engelle" name="durum" />
        <input type="submit" value="Seçilen kullanıcıları engelle" onclick="tikla()" />
    }
</div>
<div class="kullanici-engel-kaldir" style="border:1px solid green;">
    @using (Ajax.BeginForm("KullaniciKontrolActionAsync", "Account", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "engel-kaldirildi" }, new { @style = "border: 1px solid red;" }))
    {
        <label>Engel kaldır</label>
        <div id="engel-kaldirildi"></div>
        for (int i = 0; i < Model.EngelKaldir.Count(); i++) //form içinde engellenmiş kullanıcıları bastırıyor
        {
                @Html.CheckBoxFor(m => m.EngelKaldir[i].Kontrol)
                @Html.DisplayFor(m => m.EngelKaldir[i].Id)
                <label>Username</label>
                @Html.DisplayFor(m => m.EngelKaldir[i].UserName)
                @Html.DisplayFor(m => m.EngelKaldir[i].Ad)
                @Html.DisplayFor(m => m.EngelKaldir[i].Soyad)
                @Html.DisplayFor(m => m.EngelKaldir[i].KatilmaTarihi)
                @Html.DisplayFor(m => m.EngelKaldir[i].Ulke)
                @Html.HiddenFor(m => m.EngelKaldir[i].Id)
        }
        <input type="hidden" value="engelkaldir" name="durum" />
        <input type="submit" value="Seçilen kullanıcıların engelini kaldır" onclick="tikla()" />
    }
</div>
<script>
    function tikla() { //28 49 70'inci satırları incelerseniz onclick="tikla()" özelliklerini görebilirsiniz.Submit tipindeki input'a tıklandığında bu fonksiyonu çalıştıracak
        setTimeout(function () { location.href = '/Account/KullaniciKontrol'; }, 1000); //bu fonksiyon bir zaman aşımı oluşturuyor ve 1000 milisaniye sonra location.href ile gösterilen yere yönlendiriyor
    }
</script>